@model IEnumerable<Book_Store.Models.TBL_Order>
@{
    ViewBag.Title = "Submittedorders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:50px;">
    <h3 style="text-align:center;font-weight:bold;margin-bottom:50px;">نمایش همه ی سفارشات تایید شده</h3>

    <table class="table table-striped" style="margin-top:80px;margin-bottom:100px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام کاربری</th>
                <th scope="col">ایمیل</th>
                <th scope="col">شماره تماش</th>
                <th scope="col">حذف</th>
                <th scope="col">نمایش</th>


            </tr>
        </thead>

        @{int a = 1;}
        @foreach (var test in Model)
        {

            <tbody>
                <tr>
                    <td style="font-weight:bold;">@a</td>

                    @{ a = a + 1;}

                    <td style="font-weight:bold;">@test.TBL_User.FullName</td>

                    <td style="font-weight:bold;">@test.TBL_User.Email</td>
                    <td style="font-weight:bold;">@test.TBL_User.Phone</td>

                  



                    <td>@Html.ActionLink("حذف", "Deleteorder", "User", new { id = @test.Orderid }, new { @class = "btn alert-danger btnproducts" })</td>

                    <td>@Html.ActionLink("مشاهده جزییات", "Showorderdetailtoadmin", "User", new { id = @test.Orderid }, new { @class = "btn alert-info btnproducts" })</td>

                </tr>

            </tbody>
        }
    </table><br />
